<head>
<style type="text/css">
.navcontact
{
text-decoration: none;
color: #989696;
font-size: 0.8em;
display: inline-block;
margin: 0.5em 0;
}
</style></head>
<div id="foot" class="footer" style="z-index:1;">
	<div class="container">
		<div class="footer-top-at" >
			<div class="col-md-3 amet-sed">
				<h4>Our Company</h4>
				<ul class="nav-bottom">
					<li><a href="#about">About Us</a></li>
					<!-- <li><a href="#contact">Contact Us</a></li> -->
					<li class="navcontact">Mobile App</a></li>
					<li><a href="#terms">Terms &amp; Conditions</a></li>
					<li><a href="#privacy">Privacy Policy</a></li>	
					<!-- <li><a href="#blog">Blog</a></li> -->
					
				</ul>	
			</div>
			<div class="col-md-3 amet-sed ">
				<h4>Work With Us</h4>
					<ul class="nav-bottom">
						<!-- <li><a href="#recent">Recent Bookings</a></li> -->
						<!-- <li><a href="#hospital">Private Hospitals</a></li><!--  -->
						<li><a href="blogform/blogform.html">Blog</a></li>
						<!-- <li><a href="#hospital">Business Development</a></li> -->
						<!-- <li><a href="#hospital">Affiliate Programs</a></li> -->
						<li><a href="#contact">Reach Us</a></li>
						<li><a href="#career">Careers</a></li>
						<li><a href="#team">Our Team</a></li>	
					</ul>	
			</div>
			<div class="col-md-3 amet-sed">
				<h4>Customer Support</h4>
					<ul class="nav-bottom">
				
				<li class="navcontact">Mon-Fri, 8AM-8PM [IST] </a></li>
				<li class="navcontact">Sat-Sun, 8AM-5PM [IST] </a> </li>
				
					
						<li><a href="#faqs">Frequently Asked Questions</a></li>
						<li><a href="#suggestions">Make a Suggestion</a></li>
					</ul>	
			</div>
			<div class="col-md-3 amet-sed ">
				<h4>Get in touch</h4>
				   <ul class="nav-bottom">
						<li class="navcontact">Contact</li>
						<li><a href="">+91 998 080 1415</a></li>
						<li><a href="">support@kramya.com</a></li>
					</ul>	
					<ul>
						<li><a href="http://www.facebook.com/KramyaHealth" target= "_blank"><i class="fa fa-facebook" ></i></a>&nbsp;&nbsp;
						<a href="https://plus.google.com/b/105121189650545397382/105121189650545397382/about/p/pub?pageId=105121189650545397382&hl=en&_ga=1.69627664.1642623259.1446271574" target= "_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
						<a href="https://twitter.com/KramyaTweet" target= "_blank"><i class="fa fa-twitter"></i></i></a>&nbsp;&nbsp;
						<!-- <li><a href="#"><i class="camera"> </i></a></li> -->
						<a href="https://www.linkedin.com/company/10261550?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_10261550%2Cidx%3A2 " target= "_blank"><i class="fa fa-linkedin"></i></a></li>
					</ul>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="col-md-8 footer-class">
				<p >© 2016 Kramya Techno Private Limited. All Rights Reserved</p>
			</div>
		<div class="clearfix"> </div>
	 	</div>
	</div>
</div>

