
	<div class=" banner-buying-team">
	<div class=" container">
	<h3><span>Our</span> Team</h3> 
	</div>
	</div>
	<!--//header-->
	<!--career-->
	<div class="career"> 
	 <div class="container">

	 	<style type="text/css">
	 		p.teampara{
	 			 color: #2580B3;
    			font-size: 1.5em;
    /*text-transform: uppercase;*/
    		display: inline-block;
   			 padding: 0 0 0.3em;
   			 float: center;
   			 margin-top: 1.8em;


	 		}
	 	</style>
			<!-- <h3>careers</h3> -->
			 	 <p class="teampara ; text-justify" >Kramya has adequate mix of geeks and business executives. Our senior management team have led IT strategy, Programs and innovation at Big4, HCL tech, Duflon, IBM and HP. Kramya's experts in healthcare, IT, aggregators and social marketing have built successful companies and are recognized industry leaders.</p> 
			

				
 </div>
	</div>
